/FTData.class
/FactionData.class
/MocData.class
/MocFaction.class
/Role$ItemHelper.class
/Role.class
/RoleOfficer.class
/Squad$PlayerRole.class
/Squad.class
/SquadType.class
/State$InfluenceHandler.class
/State.class
/States.class
