/AWCoreItemLoader.class
/ItemBackpack.class
/ItemBase.class
/ItemBlockMeta.class
/ItemBlockOwned.class
/ItemBlockOwnedRotatable.class
/ItemBlockRotatableMetaTile.class
/ItemComponent.class
/ItemEventHandler.class
/ItemHammer.class
/ItemQuill.class
/ItemResearchBook.class
/ItemResearchNotes.class
/ItemSteelIngot.class
