/StructureBoundingBoxRenderer$1.class
/StructureBoundingBoxRenderer.class
/StructurePluginManager.class
/StructureTemplate.class
/StructureTemplateClient.class
/StructureTemplateManager$1.class
/StructureTemplateManager.class
/StructureTemplateManagerClient.class
/WorldGenStructureManager.class
