/IStructureBuilder.class
/IStructurePluginLookup.class
/IStructurePluginManager.class
/IStructurePluginRegister.class
/NBTTools$TagBase.class
/NBTTools$TagByte.class
/NBTTools$TagByteArray.class
/NBTTools$TagCompound.class
/NBTTools$TagDouble.class
/NBTTools$TagFloat.class
/NBTTools$TagInt.class
/NBTTools$TagIntArray.class
/NBTTools$TagList.class
/NBTTools$TagLong.class
/NBTTools$TagShort.class
/NBTTools$TagString.class
/NBTTools.class
/StructurePluginRegistrationEvent.class
/TemplateParsingException$TemplateRuleParsingException.class
/TemplateParsingException.class
/TemplateRule.class
/TemplateRuleBlock.class
/TemplateRuleEntity.class
